body {
  font-family: Arial;
  background-color: white;
  color :black;
}

h1 {
    text-align: center;
    color: rgb(0, 162, 255);
    
    
    
}

h3 {
    text-align: center;

}
button{

    
  padding: 10px 20px;
  background-color: rgb(73, 128, 0);
  border-bottom: 2cm;
  justify-content: center;
  align-items: center;

}

p{
    
font: 1em sans-serif;font-family: Arial;
}

h3{
    font-family: Arial;

}
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: beige;
}
