.footer{
    text-align: center;
    background-color:#343A40;
    color: white;
    padding: 15px 20px;
    font-size: 0.9em;
    box-shadow: 0 -2px 8px rgba(0,0,0,0,1);
    flex-shrink: 0;
    margin-top: auto;
}
button {
    background-color: green;
    color: white;
    text-align: center;
    cursor: pointer;
}
button{
        background-color: green;
        padding: 10px *20px;
        border-radius: 10px;
}
